.cart-title {
    font-size: 30px;
    text-align: center;
}

.cart-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cart-product-img-wrap {
    width: 150px;
    height: auto;
}

.cart-products-totalPrice {
    font-size: 30px;
    margin: 60px 0px 10px 45px;
}
