@page "/orders"
@inject IOrderService OrderService
<section class="section-orders">
    <h3 class="heading-secondary">Orders</h3>
    
    @if (orders == null)
    {
        <span class="heading-tertiary">Loading your orders...</span>
    }
    else if (orders.Count <= 0)
    {
        <span class="heading-tertiary">You have no orders, yet.</span>
    }
    else
    {
    
        foreach (var order in orders)
        {
             
            <div class="container grid grid--3--cols">
                <div class="image-wrapper">
                    <img src="@order.ProductImage" class="image"/>
                </div>
                <div class="details">
                    <h4 class="heading-tertiary">@order.Product</h4>
                    <span class="subheading">@order.OrderDate</span>
                    <a href="orders/@order.Id" class="link">Show more...</a>
                </div>
                <div class="order-price">$@order.TotalPrice</div>
            </div>
        }
    }
</section>
@code {
    List<OrderOverviewResponse> orders = null;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrder();
    }

}
