.section-orders {
    padding: 9.6rem 0;
}

.image-wrapper {
    width: 150px;
    text-align: center;
}

.image {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.name {
    flex-grow: 1;
    padding: 6px;
}

.product-price {
    font-weight: 600;
    text-align: right;
}

.order-price {
    font-size: 2.4rem;
}

.link {
    font-size: 1.2rem;
}
