.cardDetails-container {
    margin: 25px 10px;
    padding: 20px;
}

.cardDetails {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

cardDetails-img-container {
    width: 350px;
}

.cardDetails-img-container img {
    border-radius: 90px;
}

.cardDetails-body {
    margin-left: 20px;
}

    .cardDetails-body h5 {
        font-size: 25px;
    }

#price {
    font-size: 25px;
}

.originalPrice {
    font-size: 12px;
    color: tomato;
    text-decoration: line-through;
}



.cart-details-btn {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
}

    .cart-details-btn:hover {
        background: white;
        color: var(--primary-color);
    }

.cardDetails-body-variant {
    color: #ff006c;
    width: 133px;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
}

    .cardDetails-body-variant:focus {
        outline: none;
    }

.cardDetails-varian-price {
    margin: 10px 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: center;
}
.btn-edit{
    padding: 5px 40px;
    background-color: orange;
}
.btn-delete {
    padding:5px 8px;
    background-color: red;
}