@page "/register"

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>Registration</PageTitle>

<section class="section-cta">
    <div class="container">
        <div class="cta">
            <div class="cta-text-box">
                <h2 class="heading-secondary">Become a VIP</h2>
                <p class="cta-text">
                    Be the first to receive updates on exclusive events,
                    secret menus, special offers/discounts, loyalty rewards & more!
                </p>
                <EditForm Model="user" OnValidSubmit="HandleRegistration" class="cta-form">
                    <DataAnnotationsValidator />
                    <div>
                        <label for="email">Email address</label>
                        <input id="email"
                               type="email"
                               placeholder="me@example.com"
                               aria-describedby="emailHelp"
                               @bind-value="user.Email"
                               required />
                        <ValidationMessage For="@(() => user.Email)" class="text-danger" />
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input id="password"
                               type="password"
                               placeholder="password@example"
                               aria-describedby="passwordHelpBlock"
                               @bind-value="user.Password"
                               required />
                        <ValidationMessage For="@(() => user.Password)" class="text-danger" />
                    </div>
                    <div>
                        <label for="confirmPassword">Confirm Password</label>
                        <input id="confirmPassword"
                               type="password"
                               placeholder="confirmPassword@example"
                               @bind-value="user.ConfirmPassword" />
                        <ValidationMessage For="@(() => user.ConfirmPassword)" class="text-danger" />
                    </div>

                    <button class="btn btn--form" type="submit">Register</button>

                    <div class="text-danger">
                        <span>@message</span>
                    </div>

                    <!-- <input type="checkbox" />
                    <input type="number" /> -->
                </EditForm>
            </div>
            <div class="cta-img-box"
                 role="img"
                 aria-label="Women enjoing food"></div>
        </div>
    </div>
</section>

@code {
    private UserRegister user = new UserRegister();
    private string message = string.Empty;
    private string messageCssClass = string.Empty;

    async Task HandleRegistration()
    {
        var result = await AuthService.Register(user);

        message = result.Message;

        if (!result.Success)
        {
            messageCssClass = "text-danger";
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
