<section class="section-cta">
    <div class="container">
        <div class="cta">
            <div class="cta-text-box">
                <h2 class="heading-secondary">Custom Order</h2>
                <p class="cta-text">
                    Be the first to receive updates on exclusive events,
                    secret menus, special offers/discounts, loyalty rewards & more!
                </p>
                <form class="cta-form c-order" action="#">
                    <div>
                        <label for="full-name">Full Name</label>
                        <input id="full-name"
                               type="text"
                               placeholder="John Smith"
                               required />
                    </div>
                    <div>
                        <label for="email">Email address</label>
                        <input id="email"
                               type="email"
                               placeholder="me@example.com"
                               required />
                    </div>
                    <div>
                        <label for="phone">Phone number</label>
                        <input id="phone"
                               type="text"
                               placeholder="+49 323 1232 2333"
                               required />
                    </div>
                    <div>
                        <label for="contact-text-area">Where did you hear from us?</label>
                        <textarea id="contact-text-area" placeholder="text..." />
                    </div>

                    <button class="btn btn--form">Contact Me</button>

                    <!-- <input type="checkbox" />
                    <input type="number" /> -->
                </form>
            </div>
            <div class="cta-img-box"
                 role="img"
                 aria-label="Women enjoing food"></div>
        </div>
    </div>
</section>

@code {

}
