<footer class="footer">
    <div class="container grid grid--footer">
        <div class="logo-col">
            <a href="#" class="footer-logo">
                <img class="logo" alt="Omnifood logo" src="/img/logo-MP.png" />
            </a>

            <ul class="social-links">
                <li>
                    <a class="footer-link" href="https://www.instagram.com/monami_patisserie">
                        <ion-icon class="social-icon"
                                  name="logo-instagram"></ion-icon>
                    </a>
                </li>
                <li>
                    <a class="footer-link" href="https://www.facebook.com/monamipatisseriee">
                        <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
                    </a>
                </li>
                @*<li>
                    <a class="footer-link" href="#">
                        <ion-icon class="social-icon" name="logo-twitter"></ion-icon>
                    </a>
                </li>*@
            </ul>
            <p class="copyright">
                Copyright &copy; @DateTime.Now.ToString("yyyy") by Monami Patisserie, Inc. All rights
                reserved.
            </p>
        </div>
        <div class="address-col">
            <p class="footer-heading">Contact us</p>
            <address class="contacts">
                <p class="address">
                    Irvine, Kalifornien, USA
                </p>
                <p>
                    <a class="footer-link" href="tel:714-388-4469">714-388-4469</a><br />
                    <a class="footer-link" href="mailto:info@monamipatisserie.com">info@monamipatisserie.com</a>
                </p>
            </address>
        </div>
        <nav class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="/register">Create account</a></li>
                <li><a class="footer-link" href="/login">Sign in</a></li>
            </ul>
        </nav>

        <nav class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
                <li>
                    <a class="footer-link" href="#">About Monami Patisserie</a>
                </li>
            </ul>
        </nav>

        <nav class="nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">Privacy & terms</a></li>
            </ul>
        </nav>
    </div>
</footer>
@code {

}
