@inject ICategoryService CategoryService;

<section class="section-sweet">
    <div class="container center-text">
        <span class="subheading">Sweets</span>
        <h2 class="heading-secondary">
            Monami Patisserie chooses from 5,000+ recipes
        </h2>
    </div>
    <div class="container grid grid--3--cols margin-botton-md">
        @foreach (var category in CategoryService.Categories)
        {
            <div class="sweet">
                <a href="product/@category.Url">
                    <img class="sweet-img"
                     src="/img/sweet/sweet-1.png"
                     alt="SweetOne" />
                </a>
                <div class="sweet-content">
                    <p class="sweet-title">@category.Name</p>
                </div>
            </div>
        }
    </div>
    <div class="container all-sweets">
        <a href="/product" class="link"> See all Sweets &rarr;</a>
    </div>
</section>

<!-- Languages -->
@*<section class="languages">
    <h2 class="md text-center my-2">
        Supported Languages
    </h2>
    <div class="container flex">
        @foreach (var category in CategoryService.Categories)
        {
            <div class="card">
                <div class="card-header" id="header-category">@category.Name</div>
                <a class="card-category-img" href="product/@category.Url">
                    <img src="img/product-1.jpg" alt="" />
                </a>
            </div>
        }
    </div>
</section>*@
@code {
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetAllCategories();
    }

}
