@inject ICategoryService CategoryService;

<!-- Languages -->
<section class="languages">
    <h2 class="md text-center my-2">
        Supported Languages
    </h2>
    <div class="container flex">
        @foreach (var category in CategoryService.Categories)
        {
            <div class="card">
                <div class="card-header" id="header-category">@category.Name</div>
                <a class="card-category-img" href="product/@category.Url">
                    <img src="img/product-1.jpg" alt="" />
                </a>
                <div class="card-content">
                    <h4 class="card-title animated-bg animated-bg-text" id="title">
                        Lorem ipsum dolor
                    </h4>
                </div>
            </div>
        }
    </div>
</section>
@code {
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetAllCategories();
    }

}
