@inherits LayoutComponentBase

<div id="content-wrap">
        <NavMenu />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <div><Footer /></div>
</div>
