@inherits LayoutComponentBase

<div>
    <NavMenu />
    <main>
        <article>
            @Body
        </article>
    </main>
    <div>
        <Footer />
    </div>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />