/* Navbar */
.navbar {
    background-color: var(--primary-color);
    height: 100px;
}
.navbar-brand img{
    width: 30px;
}

.nav-link {
    color: white;
}

.dropdown-menu {
    background: var(--primary-color);
}

.dropdown-item {
    color: white;
}
    .dropdown-item:hover {
        background: var(--primary-color);
    }

.navbar-collapse {
    background: var(--primary-color);
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-nav{
    width: 100px;
}