<!-- Navbar -->
<div class="navbar">
    <div class="container flex">
        <nav>
            <ul>
                <li><a href="/product">Products</a></li>
                <li><a href="/aboutUs">About</a></li>
                <li><a href="/contactUs">Contact</a></li>

            </ul>
        </nav>

        <h1 class="logo"><a href="/">MonAmi</a></h1>

        <nav>
            <ul>
                <li><a href="/login"><i class="fas fa-user"></i></a></li>
                <li><a href="/cart"><i class="fas fa-heart"></i></a></li>
                <li>
                    <a href="/cart">
                        <i class="fas fa-shopping-cart"></i>
                        <span>2</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
@code {

}
