<!-- Navbar -->
<div class="navbar">
    <div class="container flex">
        <h1 class="logo"><a href="/">MonAmiMacarons</a></h1>
        <nav>
            <ul>
                <li><a href="/product">Products</a></li>
                <li><a href="/aboutUs">About</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</div>
@code {

}
