.search {
    position: relative;
    height: 30px;
}

    .search .search-input {
        background-color: #ebebeb;
        border: 0;
        font-size: 18px;
        padding: 15px;
        height: 30px;
        width: 50px;
        transition: width 0.3s ease;
    }

.search-btn {
    background-color: #ebebeb;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 50px;
    transition: transform 0.3s ease;
}

    .search-btn:focus,
    .search-input:focus {
        outline: none;
    }


    .search-btn i {
        color: var(--primary-color);
    }

.search.active .search-input {
    width: 200px;
    color: var(--primary-color);
}

.search.active .search-btn {
    transform: translateX(198px);
}
