
.section-hero {
    background-color: #ebebeb;
    padding: 48px 0 96px 0;
}

.hero {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px;
    align-items: center;
}

.heading-primary {
    font-size: 52px;
    line-height: 1.05;
    margin-bottom: 32px;
    font-weight: 700;
    color: var(--primary-color);
    /* color: #45260a; */
    /* color: #343a40; */
    letter-spacing: -0.5px;
}

.hero-description {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}

.hero-img {
    width: 100%;
}



.btn--full:link,
.btn--full:visited {
    background: darksalmon
}

.btn--full:hover,
.btn--full:active {
    background: #a36955;
}


.btn--outline:hover,
.btn--outline:active {
    background: #a05c68;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 80px;
}

.delivered-imgs {
    display: flex;
}

    .delivered-imgs img {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        margin-right: -16px;
        border: 3px solid #fdf2e9;
    }

        .delivered-imgs img:last-child {
            margin: 0;
        }

.delivered-text {
    font-size: 18px;
    font-weight: 600;
}

    .delivered-text span {
        color: #cf711f;
        font-weight: 700;
    }


/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
    html {
        /* 9px / 16px  */
        font-size: 56.25%;
    }

    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .hero {
        gap: 48px;
    }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0 80px;
        gap: 6.4rem;
    }

    .hero-text-box,
    .hero-img-box {
        text-align: center;
    }

    .hero-img {
        width: 60%;
    }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
    .grid {
        row-gap: 48px;
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: 1fr;
    }

    .btn,
    .btn:link,
    .btn:visited {
        padding: 24px 16px;
    }

    .section-hero {
        padding: 24px 0 64px 0;
    }

    .hero {
        padding: 0 32px;
    }

    .hero-img {
        width: 80%;
    }
}
