<!-- Showcase -->
<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>We are here to Bake you Happy</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
            <a href="features.html" class="btn btn-outline">Read More</a>
        </div>

        <div class="showcase-form cardShowcase">
            <img src="img/product-1.jpg" />
        </div>
    </div>
</section>
@code {

}
