<section class="section-hero">
    <div class="hero">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                A Taste of Paris in every bite
            </h1>
            <p class="hero-description">
                Welcome to the world of French macarons and darling cakes at Mon Ami Patisserie.
                We love to bake, we love to eat and we love to make you happy too!
            </p>
            <a href="/product" class="btn btn--full margin-right-sm">Order now</a>
            <a href="/contact" class="btn btn--outline">Custom orders &darr;</a>
            <div class="delivered-sweet">
                <div class="delivered-imgs">
                    <img src="/img/customers/customer-1.jpg" />
                    <img src="/img/customers/customer-2.jpg" />
                    <img src="/img/customers/customer-3.jpg" />
                    <img src="/img/customers/customer-4.jpg" />
                    <img src="/img/customers/customer-5.jpg" />
                    <img src="/img/customers/customer-6.jpg" />
                </div>
                <p class="delivered-text">
                    <span>250,000+</span> meals delivered last year!
                </p>
            </div>
        </div>
        <div class="hero-img-box">
            <img class="hero-img" src="/img/hero-design.png" alt="Woman" />
        </div>
    </div>
</section>
@code {

}
