<section class="section-testimonials">
    <div class="testimonials-container">
        <span class="subheading">Testimonials</span>
        <h2 class="heading-secondary">Love for Mon Ami</h2>
        <div class="testimonials">
            <figure class="testimonial">
                <img class="testimonial-img"
                     src="/img/customers/dave.jpg"
                     alt="Dave Bryson" />
                <blockquote class="testimonial-text">
                    One bite and I felt like I was back in France.
                    Chef Ingrid and her team have outdone themselves!
                </blockquote>
                <p class="testimonial-name">&mdash; Dave Bryson</p>
            </figure>
            <figure class="testimonial">
                <img class="testimonial-img"
                     src="/img/customers/ben.jpg"
                     alt="Ben Hadley" />
                <blockquote class="testimonial-text">
                    The cakes are always beautiful and delicious.
                    Their gourmet pastries are to die for! I have never been disappointed!
                    Thank you for the amazing cake!
                </blockquote>
                <p class="testimonial-name">&mdash; Ben Hadleyn</p>
            </figure>
            <figure class="testimonial">
                <img class="testimonial-img"
                     src="/img/customers/steve.jpg"
                     alt="Steve Miller" />
                <blockquote class="testimonial-text">
                    I absolutely love your macarons! They are absolutely delicious and the presentation is lovely.
                    I love that you can order them already packaged in a box or as a mix to make at home!
                </blockquote>
                <p class="testimonial-name">&mdash; Steve Miller</p>
            </figure>
            <figure class="testimonial">
                <img class="testimonial-img"
                     src="/img/customers/hannah.jpg"
                     alt="Hannah Smith" />
                <blockquote class="testimonial-text">
                    Amazing! My daughter and I have ordered macarons from you for several years.
                    You never fail to deliver perfect product and service. Thank you!
                </blockquote>
                <p class="testimonial-name">&mdash; Hannah Smith</p>
            </figure>
        </div>
    </div>
    <div class="gallery">
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-1.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-2.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-3.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-4.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-5.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-6.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-7.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-8.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-9.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-10.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-11.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
        <figure class="gallery-item">
            <img src="/img/gallery/gallery-12.png"
                 alt="Photo of beautifully arranged foot" />
        </figure>
    </div>
</section>

@code {

}
