.navbar-light .navbar-nav .nav-link {
    color: #72424a;
    font-size: 2.0rem;
}

.logout-btn {
    display: inline-block;
    text-decoration: none;
    color: #72424a;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

/*
.nav-link {
    color: #72424a;
    font-weight: 500;
    font-size: 1.8rem;
}

.dropdown-menu {
    background: var(--primary-color);
}

.dropdown-item {
    color: #72424a;
    font-weight: 500;
    font-size: 1.8rem;
}

    .dropdown-item:hover {
        background: var(--primary-color);
    }

.navbar-collapse {
    background: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-nav {
    width: 100px;
}
*/
