/**************************/
/* HEADER */
/**************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcf3f4;
    /*Because we want header to be sticki later*/
    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.icons {
    display: flex;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #72424a;
    font-weight: 500;
    font-size: 2.0rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #b66a76;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e48494;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #b66a76;
}

/* MOBILE */
/*.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

    .icon-mobile-nav[name="close-outline"] {
        display: none;
    }*/

/* STICKY NAVIGATION */
/*.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
    margin-top: 9.6rem;
}*/

/**************************/
/* HERO SECTION */
/**************************/
.section-hero {
    background-color: #fcf3f4;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}

.delivered-sweet {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs {
    display: flex;
}

    .delivered-imgs img {
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 50%;
        margin-right: -1.6rem;
        border: 3px solid #fcf3f4;
    }

        .delivered-imgs img:last-child {
            margin-right: 0;
        }

.delivered-text {
    color: #72424a;
    font-size: 1.8rem;
    font-weight: 600;
}

    .delivered-text span {
        color: #b66a76;
        font-weight: 700;
    }

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #b66a76;
}

.logos {
    display: flex;
    justify-content: space-around;
}

    .logos img {
        height: 3.2rem;
        filter: brightness(0);
        opacity: 50%;
    }

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
    padding: 9.6rem 0;
    background-color: #fff;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .step-img-box::before,
    .step-img-box::after {
        content: "";
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .step-img-box::before {
        width: 70%;
        /* height: 60%; */
        /* 60% of parent's width */
        padding-bottom: 70%;
        background-color: #fcf3f4;
    }

    .step-img-box::after {
        width: 50%;
        /* height: 60%; */
        /* 60% of parent's width */
        padding-bottom: 50%;
        background-color: #fae6ea;
    }

.step-img {
    width: 35%;
    border-radius: 15px;
    border: 5px solid #72424a;
    z-index: 10;
}

/**************************/
/* SWEETS SECTION */
/**************************/

.section-sweet {
    padding: 9.6rem 0;
}

.sweet {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

    .sweet:hover {
        transform: translateY(-1.2rem);
        box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
    }

/* .sweet a{
  text-decoration: none;
  color: #894f59;
} */
.sweet-img {
    width: 100%;
}

.sweet-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.sweet-title {
    font-size: 2rem;
    color: #72424a;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.sweet-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #72424a;
    border-radius: 100px;
}

.tag--vegetarian {
    background-color: #b2f2bb;
}

.tag--vegan {
    background-color: #a9e34b;
}

.tag--paleo {
    background-color: #ffe8cc;
}

.sweet-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sweet-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.sweet-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e48494;
}

.all-sweets {
    text-align: center;
    font-size: 1.8rem;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    color: #e48494;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
    background-color: #fcf3f4;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials-container {
    padding: 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #b34f60;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 1.6rem;
}

.gallery-item {
    overflow: hidden;
}

    .gallery-item img {
        display: block;
        width: 100%;
        transition: all 0.4s;
    }

        .gallery-item img:hover {
            transform: scale(1.1);
        }


/**************************/
/* PRODUCT SECTION */
/**************************/
.section-product {
    padding: 9.6rem 0;
}

.gallery-product-img {
    width: 100%;
}

.gallery-product-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

.gallery-product-note {
    font-size: 1.6rem;
    font-weight: 500;
    color: inherit;
}

.product {
    padding: 1.2rem;
}

.product-title {
    font-size: 3rem;
    color: inherit;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.product-price {
    font-size: 1.8rem;
}

.product-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2.0rem;
}

.product input,
.product select {
    width: 50%;
    padding: 1.2rem;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fae6ea;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.product select {
    width: 55%;
}

.product input {
    width: 15%;
}

.product label {
    display: block;
    font-size: 2.0rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.product input::placeholder {
    color: #aaa;
}

.product *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn-container {
    margin-top: 3.6rem;
    display: flex;
    justify-content: end;
}

.btn--form {
    background-color: #b66a76;
    color: #fff;
    align-self: end;
    padding: 1.2rem 2.4rem;
}

    .btn--form:hover {
        background-color: #fae6ea;
        color: #b66a76;
    }

/**************************/
/* CART SECTION */
/**************************/

.shopping-cart {
    padding: 3.6rem;
    color: #72424a;
}

.product-cart {
    grid-template-columns: 20fr 50fr 5fr 5fr 5fr 15fr;
    margin-bottom: 3.6rem;
    justify-items: center;
    align-items: center;
}

.product-image {
    width: 100%;
}

.product-cart-title {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 2.0rem;
}

.product-description {
    font-size: 1.4rem;
    line-height: 1.4;
}

.product-quantity input {
    width: 120%;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.remove-product {
    font-size: 1.8rem;
}

.product-line-price {
    font-size: 1.8rem;
}

.remove-product {
    color: red;
}

.totals {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2rem;
}

.totals-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem;
}

.totals-item-label {
    display: block;
    color: inherit;
    font-size: 2.0rem;
    font-weight: 500;
    margin-right: 8.6rem;
}

.totals-value {
    color: inherit;
    font-size: 2.0rem;
    font-weight: 500;
}

/**************************/
/* CTA SECTION */
/**************************/
.section-cta {
    padding: 9.6rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: #e48494; */
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #eca9b4, #e48494);
    overflow: hidden;
    /* TEMP */
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #44282c;
}

.cta .heading-secondary {
    /* color: #44282c; */
    color: inherit;
    margin-bottom: 3.2rem;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta-img-box {
    background-image: linear-gradient( to right bottom, hsla(351, 63%, 76%, 0.3), hsla(350, 64%, 71%, 0.3) ), url("/img/eating.jpg");
    background-size: cover;
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

    .cta-form label {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }

    .cta-form input,
    .cta-form select,
    .cta-form textarea {
        width: 100%;
        padding: 1.2rem;
        font-size: 1.8rem;
        font-family: inherit;
        color: inherit;
        border: none;
        background-color: #fae6ea;
        border-radius: 9px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

        .cta-form input::placeholder {
            color: #aaa;
        }

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.c-order {
    grid-template-columns: 1fr;
}
/**************************/
/* FOOTER */
/**************************/
.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
    background-color: #fcf3f4;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #894f59;
    margin-top: auto;
}

.footer-heading {
    color: #72424a;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #894f59;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #cd7785;
}
